<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>970373802845-bbsja4ekg2r7saoooebli8c97qrnfp25.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.970373802845-bbsja4ekg2r7saoooebli8c97qrnfp25</string>
	<key>API_KEY</key>
	<string>AIzaSyCyVvO0OnG5eoahc0LkdNWI-GuJc0m2fLc</string>
	<key>GCM_SENDER_ID</key>
	<string>970373802845</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pragadeesh.virtualwardrobe</string>
	<key>PROJECT_ID</key>
	<string>virtualwardrobe-1e2a1</string>
	<key>STORAGE_BUCKET</key>
	<string>virtualwardrobe-1e2a1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:970373802845:ios:9af6d62fbeb10f651096b4</string>
</dict>
</plist>